/* 
Aula 04 - CSS para formulario de Inscrição

Topicos Principais:
1. Estilização de inputs, selects e textarea
2. layout flexbox para groups de formulario
3. botões interativos com hover
4. backgrouds em gradientes ( desckopt )
5. sombras de profundidade

*/

/* Estilos globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'inter', sans-serif;
    background-color: #764ba2;
    padding: 20;
    /* 
    flexbox: centraliza o formulario
    justify-content: center = centralizando horizontalmente
    align-items: center = alinhando no topo (mobile para facilicat o scroll)
    */
    display: flex;
    justify-content: center;
    align-items: center;
    /* altura minima para ocupar a tela toda*/
    min-height: 100vh; 
}

.form-wrapper {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 100%;
    max-width: 450px;
}

/* Titulo do formulario */
h2{
    text-align: center;
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 18px;

}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}

input, select, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #764ba2;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.0rem;
    font-weight: bold;
    margin-top: 10px;
}

/* Media Query para mobile first */

@media (min-width: 768px) {
   body {
    align-items: center;
    /* Gradiente no fundo: roxo claro para o roxo escuro*/
    background: linear-gradient(180deg, #667eea 0%, #764ba2 100%);

   } 

   .form-wrapper {
    padding: 40px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); 

   }

   button:hover {
    background: #7384d1;
    cursor: pointer;
   }



} 