/* 
Aula 03 - css para pagina de receita

Tópicos princípais:
1. estilos globais
2. container de receitas
3. títulos e seções
4. listas flexiveis
5. tabelas responsivas
6. Media Queries

*/

/* estilos globais */

* {

margin: 0;
padding: 0;
box-sizing: border-box;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fdfcf0;
    padding:  15px;
    color: #4a3728;
}

/* container de receita */
.recipe-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba (0,0,0,0.05);
}

/* títulos e seções  */

h1 {
    text-align: center; /* titulos centralizado*/
    color: #d35400;
    font-size: 1.5rem;
}

h2 {
    margin: 25px;
}

/* listas flexiveis */

.flex-list {
    display: flex; /* ativa o modelo flexbox para esse elemento */
    flex-direction: column; /* alinha a dereção dos itens (coluna itens empilhados e row intens lado a lado*/
    gap: 10px; /* espaçamento entre itens*/
    list-style: none ; /* remove o marcador */
}

/* estilo de cada item da lista */

.flex-list li {
    background-color: #fff3e0;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
}

/*  seções */

.info {
    /* se a tela ficar muito larga em mobile ele permite o scroll horizontal */
    overflow-x: auto;
}

table {
    width: 100%; /* ocupa a largura 100% disponível */
    min-width: 300 px; /* largura minima*/

    border-collapse: collapse; /* remover o espaço entre as bordas das delulas */
    margin-top: 20px; /* espaçamento acima da tabela */
}

th, td {
    padding: 10px; /* espaçamento interno */
    font-size: 0.9rem; /* tamanho da fonte em mobile */
    border-bottom: 1px solid #eee; /* linha divisoria entre as celulas */
}

/* Media Query: Tablet / Descktop */

@media (min-width: 768px) {
    .recipe-container {
        max-width: 800px; /* maximo de largura */
        margin: 0 auto; /* centralizou horizontalmente */
        padding: 40px; /* mais espaço interno */
    }
    
    h1 {
        font-size: 2.2rem; /* tamanho do titulo */
    }

    .flex-list {
        flex-direction: row; /* esta deixando a direção em linhas */
        justify-content: center; /* centraliza horizontalmente os ingredientes */

    }

    .flex-list li {
        padding: 10px 20px;
        border-radius: 50px;
    }

    th,td {
        padding: 15px;
        font-size: 1rem;
    }
}




